{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="picture-container">
    <img class="omu-image" id="omu-image" src="{% static 'images/omu/' %}{{ filename }}"/>
    <div class="high-score-container">
        <div class="number-of-entries">{{ number_of_entries }} people have pet Omu!</div>
        <div class="high-score">Highest score: {{ highest_scoring_entry }}</div>
    </div>
</div>

<!-- for easy client-side access! -->
<script>const image_filenames = {{ filenames|safe }}</script>

{% endblock %}