{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="alert"></div>
<div class="image-section">
    {% for file in filenames %}
        <img class="omu-image unselectable" {% if file != filename %}src="{% static 'images/omu/' %}{{ file }}" style="display:none;"
             {% else %}src="{% static 'images/omu/' %}{{ filename }}" style="display:inline-block;"{% endif %}/>
    {% endfor %}
</div>
<div class="info-section">

    <div class="text-display">
        <div class="info-text" id="current-score">
            <span>Your current score: 0.</span>
        </div>

        <div class="info-text high-score">
            <span>Highest score:
                <span id="high-score">{{ highest_scoring_entry }}</span>{% if number_of_entries > 0 %} pets!{% else %}. Start clicking!{% endif %}</span>
        </div>

    </div>

</div>

<!-- TODO - remove this and call filenames from existing src attributes of rendered images -->
<!--<script>const image_filenames = {{ filenames|safe }}</script>-->

{% endblock %}
